<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340990045933-cj6oectcdk1ivjbj303podhmvlvd7q5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340990045933-cj6oectcdk1ivjbj303podhmvlvd7q5h</string>
	<key>API_KEY</key>
	<string>AIzaSyCTiW6UuPCDFymob7ZTCTHeMvJ-8uyVGHs</string>
	<key>GCM_SENDER_ID</key>
	<string>340990045933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tritech.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-24199</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-24199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340990045933:ios:62b0890cbf9f0982dde6e4</string>
</dict>
</plist>